
<!-- Designation -->
  <label for="designation_set">Designation</label>

  <p class="text">select a particular initiative for donation</p>
  <div id="designation_set" class="radio">
    <label>
      <input type="radio" name="donationDesignations" id="designation1" value="designation1" checked>
      General contribution
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="donationDesignations" id="designation2" value="designation2">
      Blue Marble Space administration/management
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="donationDesignations" id="designation3" value="designation3">
      S.A.G.A.N. Mentorship Program
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="donationDesignations" id="designation4" value="designation4">
      One Flag In Space
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="donationDesignations" id="designation5" value="designation5">
      BMSIS Essay Contest
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="donationDesignations" id="designation6" value="designation6">
      BMSIS Research Fund
    </label>
  </div>


<!-- /Designation -->

  <hr/>

<!-- Additional information -->
  <label for="additional_info">Additional Information</label>

  <p class="text">select a particular initiative for donation</p>

  <div id="additional_info">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="additionalInfos" id="additionalInfo1" value="additionalInfo1" >
        This donation is on behalf of a company
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="additionalInfos" id="additionalInfo2" value="additionalInfo2">
        I prefer to make this donation anonymously
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="additionalInfos" id="additionalInfo3" value="additionalInfo3">
        My company will match my gift
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="additionalInfos" id="additionalInfo4" value="additionalInfo4">
        I prefer to receive a mailed letter for my donation records
      </label>
    </div>
  </div>



<!-- /Additional information -->

  <hr/>

<!-- Comments -->
  <h5>Comments</h5>
  <p class="text">Additional comments</p>

  <textarea id="id_comment" name="comment" class="textarea" style="width: 60%"></textarea>


<!-- /Comments -->