
<!-- Donation amount -->

<div class="form-group">              
  <select id="id_plan" name="plan" class="form-control">
    <option value="monthly_50">Give $50 per month</option>
    <option value="monthly_100">Give $100 per month</option>
    <option value="monthly_custom">Custom(monthly)</option>
  </select>
  <div id="amount_group" class="form-group" style="display: none;padding-top: 5px">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input id="id_amount" name="amount" type="text" class="form-control pull-left" placeholder="0" style="text-align: right; width: 100px; ">
      <a class="btn btn-link js-amount pull-left" > 50 </a>
      <a class="btn btn-link js-amount"> 100 </a>
      <a class="btn btn-link js-amount"> 250 </a>
      <a class="btn btn-link js-amount"> 500 </a>
      <a class="btn btn-link js-amount"> 1000 </a>
    </div>
  </div>
</div>


<!-- /Donation amount -->