{% extends "djstripe/base.html" %}

{% block title %}Accounts Dashboard{% endblock title %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% include "djstripe/includes/_subscription_status.html" %}
            <h2>Account Information</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
                <a class="btn btn-info" data-toggle="modal" href="#show-card">Show Credit Card</a>
                <a class="btn btn-primary" href="{% url 'djstripe:change_card' %}">Change Card</a>

            {% if subscription.is_status_current and not subscription.is_status_temporarily_current %}
                <a class="btn btn-danger" href="{% url 'djstripe:cancel_subscription' %}">Cancel Donation</a>
            {% else %}
            	<a class="btn btn-success" href="{% url 'djstripe:subscribe' %}">Donate</a>
            {% endif %}
        </div>
    </div>

    {% if plans %}
        {# Show available plans #}
        <div class="row">
            <div class="col-xs-12">
                <h2>Donation</h2>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-6">
            	{# Do not show next billing if subscription has been canceled although is still active #}
            	{% if subscription.is_status_current and not subscription.is_status_temporarily_current %}
				<p>Next billed on {{ subscription.current_period_end|date }}.</p>
				{% endif %}
    			<p><a href="{% url 'djstripe:history' %}">Donation History</a></p>
            </div>
            <div class="col-xs-6">
                <p class="pull-right">
                    <a class="btn btn-primary" href="{% url 'djstripe:subscribe' %}">Manage Subscription</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Interval</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for plan in plans %}
                            <tr>
                                <td>{{ plan.name }}</td>
                                <td>{{ plan.interval.title }}ly</td>
                                <td>{{ plan.description }}</td>
                                <td>
                                    {% if plan.plan == subscription.plan %}
                                        <strong>Your plan</strong>
                                    {% else %}
                                        Not your plan
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {# No plans so just show payment history #}
        {% include "djstripe/includes/_history_table.html" %}
    {% endif %}




<div class="row">

  <div class="col-xs-6">

    <form class="form-horizontal" role="form">

      <div class="form-group">

        <h4>NEW DONATION</h4>

        <!-- Donation amount -->
          <h5>Donation amount</h5>

          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="0" style="text-align: right; width: 100px">

          </div>
        <!-- /Donation amount -->

        <!-- Donation frequency -->
          <h5>Donation frequency</h5>

          <div class="radio">
            <label>
              <input type="radio" name="donationFrequencies" id="frequency1" value="frequency1" checked>
              Monthly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="donationFrequencies" id="frequency2" value="frequency2" >
              Weekly
            </label>
          </div>
        <!-- /Donation frequency -->

        <!-- Designation -->
          <h5>Designation</h5>
          <p class="text">select a particular initiative for donation</p>
          <div class="radio">
            <label>
              <input type="radio" name="donationDesignations" id="designation1" value="designation1" checked>
              General contribution
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="donationDesignations" id="designation2" value="designation2">
              Blue Marble Space administration/management
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="donationDesignations" id="designation3" value="designation3">
              S.A.G.A.N. Mentorship Program
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="donationDesignations" id="designation4" value="designation4">
              One Flag In Space
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="donationDesignations" id="designation5" value="designation5">
              BMSIS Essay Contest
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="donationDesignations" id="designation6" value="designation6">
              BMSIS Research Fund
            </label>
          </div>
        <!-- /Designation -->

        <!-- Additional information -->
          <h5>Additional Information</h5>
          <p class="text">select a particular initiative for donation</p>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="donationAdditionalInfos" id="donationAdditionalInfo1" value="donationAdditionalInfo1" >
              This donation is on behalf of a company
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="donationAdditionalInfos" id="donationAdditionalInfo2" value="donationAdditionalInfo2">
              I prefer to make this donation anonymously
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="donationAdditionalInfos" id="donationAdditionalInfo3" value="donationAdditionalInfo3">
              My company will match my gift
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="donationAdditionalInfos" id="donationAdditionalInfo4" value="donationAdditionalInfo4">
              I prefer to receive a mailed letter for my donation records
            </label>
          </div>
        <!-- /Additional information -->

        <!-- Comments -->
          <h5>Comments</h5>
          <p class="text">Additional comments</p>

          <textarea class="textarea" style="width: 60%">
          </textarea>
        <!-- /Comments -->



        <hr>
        <button type="button" class="btn btn-primary">Add donation</button>
        <button type="button" class="btn btn-link">or Cancel</button>

      </div>

    </form>
  </div>

  <div class="col-xs-6">

    <!-- CONNECTED ACCOUNTS -->
    <h4>CONNECTED ACCOUNTS</h4>

    <div class="alert alert-warning">
      Donations will be proceed after your Credit Card is connected.
    </div>

    <table class="table">

      <tr>
        <td style="width: 49px">
          Email
        </td>
        <td>
          liwen@example.com
        </td>
        <td>
          x
        </td>
      </tr>

      <tr>
        <td>
          Twitter
        </td>
        <td>
          liwen
        </td>
        <td>
          x
        </td>
      </tr>

      <tr>
        <td>
          Facebook
        </td>
        <td>
          liwen
        </td>
        <td>
          x
        </td>
      </tr>

      <tr>
        <td>
          Credit Card
        </td>
        <td>
          1234-xxxx
        </td>
        <td>
          x
        </td>
      </tr>
    </table>


    <!-- /CONNECTED ACCOUNTS -->


    <!-- DONATES -->
    <h4>DONATES FOR</h4>

    <table class="table">

      <tr>
        <td>
          General contribution
        </td>
        <td class="text-right">
          $ 45
        </td>
        <td>
          per month
        </td>
        <td>
          x
        </td>
      </tr>

      <tr>
        <td>
          One Flag In Space
        </td>
        <td class="text-right">
          $ 100
        </td>
        <td class="text-left">
          per week
        </td>
        <td>
          x
        </td>
      </tr>


    </table>

    <!-- /DONATES-->
  </div>

</div>






</div>

  <!-- Modal for showing card -->
  <div class="modal fade" id="show-card">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Card on File</h4>
        </div>
        <div class="modal-body">
            <p><strong>Type:</strong> {{ customer.card_kind }}</p>
            <p><strong>Last 4 Digits:</strong> {{ customer.card_last_4 }}</p>
            <p><small>For security, your card information is stored on <a href="https://stripe.com">stripe.com</a>.</small></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock content %}

{% block javascript %}
{{ block.super }}
{% if plans %}
    <script>
        $(function() {
            $.post("{% url 'djstripe:sync_history' %}", function(data) {
                $('#history-table').html(data);
            });
        });
    </script>
{% else %}
    <script>
        $(function() {
            $.post("{% url 'djstripe:sync_history' %}", function(data) {
                $('#history-table').html(data);
                $('.in-progress-gif').hide();
            });
        });
    </script>
{% endif %}
{% endblock javascript %}