{% extends "djstripe/base.html" %}
{% load static djstripe_tags %}

{% block title %}Donate one time{% endblock title %}


{% block content %}
{{ block.super }}
<div class="container">
  <div class="row">

    <div class="col-xs-12">

      <h2 style="font-size: 200%;padding-top: 1em;padding-bottom: 1em;">Donate one time</h2>

      <p class="info">
       All donations are tax-deductible.
       This site is secured with SSL.
       And you can donate <a href="../monthly/">monthly</a>.
      </p>

      {% if error %}
          <div class="alert alert-error">{{ error }}</div>
      {% endif %}
      {% if view.error %}
          <div class="alert alert-error">{{ view.error }}</div>
      {% endif %}
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6"> 

      <form role="form" action="/donate/onetime/" method="POST" id="donate_onetime_form">
        {% csrf_token %}
        <span class="payment-errors"></span>

          {% include 'djstripe/partial/_onetime_amount_form.html' %}
          <hr/>
          {% include 'djstripe/partial/_donator_form.html' %}
          <hr/>
          {% include 'djstripe/partial/_creditcard_form.html' %}
          <hr/>
          {% include 'djstripe/partial/_additional_form.html' %}
          <hr/>

          <input id="id_stripe_token" name="stripe_token" type="hidden" />

          <button class="btn btn-primary change-card" type="submit">Donate</button>
    
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">

  jQuery(function($) {
    Stripe.setPublishableKey('{{ STRIPE_PUBLIC_KEY }}');

    $('.js-amount').on('click', function(event) {
        $("#id_amount").val($(this).text());
    });

    

    $('#donate_onetime_form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);


        Stripe.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
    });
    var stripeResponseHandler = function(status, response) {
      console.log("handler");
      var $form = $('#donate_onetime_form');

      if (response.error) {
        // clean up previous errors
        $('div.has-error').removeClass("has-error");

        // Show the errors on the form
        var id = "#id_" + response.error.param;
        var input = $(id);
        var control = input.parent().parent();
        input.focus();
        control.addClass("has-error");

        $('.stripe-errors').text(response.error.message);
        
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $('#id_stripe_token').val(token);
        $form.get(0).submit();
      }
    };
  });
</script>
{% endblock javascript %}
