{% extends "djstripe/base.html" %}
{% load static djstripe_tags %}

{% block title %}Donate one time{% endblock title %}


{% block content %}
{{ block.super }}
<div class="container">
  <div class="row">

    <div class="col-xs-12">

      <h2>Donate one time</h2>

      <p class="info">
      All donations are tax-deductible.
       This site is secured with SSL.
       Or you can donate <a href="../monthly">monthly</a>.
      </p>

      {% if error %}
          <div class="alert alert-error">{{ error }}</div>
      {% endif %}
      {% if view.error %}
          <div class="alert alert-error">{{ view.error }}</div>
      {% endif %}
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6"> 

      <form role="form" action="{% url 'djstripe:donate_onetime' %}" method="POST" id="donate_onetime_form">
        {% csrf_token %}
        <span class="payment-errors"></span>


          <!-- Donation amount -->
            <div class="input-group">
              <span class="input-group-addon">Give $</span>
              <input id="id_amount" name="amount" type="text" class="form-control" placeholder="0" style="text-align: right; width: 100px">
              <a class="btn btn-link js-amount" > 50 </a>
              <a class="btn btn-link js-amount"> 100 </a>
              <a class="btn btn-link js-amount"> 250 </a>

            </div>

          
            <hr>

          <!-- /Donation amount -->

          <!-- Donator info -->

            <div class="form-group">
              <label for="id_name">Name</label>
              <input id="id_name" name="name" type="text" size="20" class="form-control" placeholder="Full name" data-stripe="name">
            </div>

            <div class="form-group">
              <label for="id_email">Email</label>
              <input id="id_email" name="email" type="email" size="20" class="form-control" placeholder="Email">
            </div>


            <hr/>

          <!-- /Donator info -->

          <!-- Donation credit card-->


            <div class="form-group">
              <label for="id_number">Credit Card Number</label>
              <input id="id_number" class="form-control" type="text" size="20" pattern="\d*" autocomplete="off" data-stripe="number"/>
            </div>

            <div class="form-group">

              <div class="row">
                <div class="col-xs-2">
                  <label for="id_cvc">CVC</label>
                  <input id="id_cvc" type="text" class="form-control" size="4" pattern="\d*" data-stripe="cvc" />
                </div>
                <div class="col-xs-2">
                  <label for="id_expmonth">Expiration</label>
                  <input id="id_expmonth" class="form-control" size="2" type="text" pattern="\d*" autocomplete="off" data-stripe="exp-month" placeholder="MM">
                </div>
                <div class="col-xs-2">
                  <label for="id_expyear"> &nbsp;</label>
                  <input id="id_expyear" type="text" class="form-control" size="4" pattern="\d*" autocomplete="off" data-stripe="exp-year"  placeholder="YYYY"/>
                </div>
 

              </div>
            </div>

            <hr/>

          <!--/Donation credit card-->

          <!-- Designation -->
            <label for="designation_set">Designation</label>

            <p class="text">select a particular initiative for donation</p>
            <div id="designation_set" class="radio">
              <label>
                <input type="radio" name="donationDesignations" id="designation1" value="designation1" checked>
                General contribution
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="donationDesignations" id="designation2" value="designation2">
                Blue Marble Space administration/management
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="donationDesignations" id="designation3" value="designation3">
                S.A.G.A.N. Mentorship Program
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="donationDesignations" id="designation4" value="designation4">
                One Flag In Space
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="donationDesignations" id="designation5" value="designation5">
                BMSIS Essay Contest
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="donationDesignations" id="designation6" value="designation6">
                BMSIS Research Fund
              </label>
            </div>

            <hr/>

          <!-- /Designation -->

          <!-- Additional information -->
            <label for="additional_info">Additional Information</label>

            <p class="text">select a particular initiative for donation</p>

            <div id="additional_info">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="additionalInfos" id="additionalInfo1" value="additionalInfo1" >
                  This donation is on behalf of a company
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="additionalInfos" id="additionalInfo2" value="additionalInfo2">
                  I prefer to make this donation anonymously
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="additionalInfos" id="additionalInfo3" value="additionalInfo3">
                  My company will match my gift
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="additionalInfos" id="additionalInfo4" value="additionalInfo4">
                  I prefer to receive a mailed letter for my donation records
                </label>
              </div>
            </div>

            <hr/>


          <!-- /Additional information -->

          <!-- Comments -->
            <h5>Comments</h5>
            <p class="text">Additional comments</p>

            <textarea id="id_comment" name="comment" class="textarea" style="width: 60%"></textarea>

            <hr/>


          <!-- /Comments -->

          <input id="id_stripe_token" name="stripe_token" type="hidden" />

          <button class="btn btn-primary change-card" type="submit">Donate</button>
    
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">

  jQuery(function($) {
    Stripe.setPublishableKey('{{ STRIPE_PUBLIC_KEY }}');

    $('.js-amount').on('click', function(event) {
        $("#id_amount").val($(this).text());
    });

    

    $('#donate_onetime_form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);


        Stripe.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
    });
    var stripeResponseHandler = function(status, response) {
      console.log("handler");
      var $form = $('#donate_onetime_form');

      if (response.error) {
        // clean up previous errors
        $('div.has-error').removeClass("has-error");

        // Show the errors on the form
        var id = "#id_" + response.error.param;
        var input = $(id);
        var control = input.parent().parent();
        input.focus();
        control.addClass("has-error");

        $('.stripe-errors').text(response.error.message);
        
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $('#id_stripe_token').val(token);
        $form.get(0).submit();
      }
    };
  });
</script>
{% endblock javascript %}