{% if subscription %} 
    {% if subscription.status == subscription.STATUS_ACTIVE and not subscription.current_period_end %}
        <div class="alert alert-success lead">
            Your monthly donation is <strong>{{ subscription.status }}</strong>.
        </div>
    {% else %}
        {% if subscription.status == subscription.STATUS_CANCELLED %}
            <div class="alert alert-danger lead">
                Your monthly donation has been <strong>canceled</strong>.
            </div>
        {% elif subscription.canceled_at and subscription.start < subscription.canceled_at  %}
            <div class="alert alert-warning lead">
                Your monthly donation has been <strong>canceled</strong> on {{ subscription.canceled_at }}
            </div>
        {% else %}
            <div class="alert alert-success lead">
                Your monthly donation is <strong>{{ subscription.status }}</strong>.
            </div>
        {% endif %}
    {% endif %}
{% endif %}